<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <p>Estadisticas</p>
    </ion-title>
   
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
      <ion-img src="assets/logo_grande.png" style="margin: 5px;"></ion-img> 
    <ion-list-header>
      <ion-label  color="secondary">Resultados de Reconteo</ion-label>
    </ion-list-header>
    
  </ion-list>
    
  <ion-list expand="full">
    <ion-list-header *ngFor="let item of list; let i = index" ion-no-lines ion-no-padding>
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <ion-button size="large" color="dark" class="but" expand="full" ion-item (click)="toogleSection(i)"
              detaio-none [ngClass]="{'section-active': item.open, 'section': !item.open}">
              <ion-icon slot="start" name="arrow-dropright-circle" *ngIf="!item.open"></ion-icon>
              <ion-icon slot="start" name="arrow-dropdown-circle" *ngIf="item.open"></ion-icon>
              <h1>Pregunta {{i+1}}</h1>
            </ion-button>
          </ion-col>
          <ion-col *ngIf="item.open" size="12">
            <ion-card>
              <ion-card-header>
                <ion-card-title>{{item.titulo}}</ion-card-title>
                <ion-card-subtitle>{{item.pregunta}}</ion-card-subtitle>
              </ion-card-header>

              <ion-card-content>
                <ion-grid>
                  <ion-row>
                    <ion-col size="12">
                      <ion-item>
                        <ion-label>VOTOS TOTALES: </ion-label>
                        <ion-note slot="end">{{item.total}}</ion-note>
                      </ion-item>

                    </ion-col>
                    <ion-col size="12">
                      <ion-item>
                        <ion-label>VOTOS VÁLIDOS: </ion-label>
                        <ion-note slot="end">{{item.valido}}</ion-note>
                      </ion-item>

                    </ion-col>
                    
                    <ion-col size="3">

                      <ion-img src="assets/icon_SI.png" style="width: 50px; height: 50px;"></ion-img>


                    </ion-col>
                    <ion-col size="9">
                      <ion-item>

                        <ion-label color="secondary">{{item.siUmbral}}%</ion-label>
                        <ion-note slot="end">{{item.si}}</ion-note>
                      </ion-item>
                    </ion-col>
                    <ion-col size="3">
                      <ion-img src="assets/icon_NO.png" style="width: 50px; height: 50px;"></ion-img>
                    </ion-col>
                    <ion-col size="9">
                      <ion-item>
                        <ion-label color="secondary">{{item.noUmbral}}%</ion-label>
                        <ion-note slot="end">{{item.no}}</ion-note>
                      </ion-item>
                    </ion-col>

                    <ion-col size="12">
                        <ion-item>
                          <ion-label>VOTOS NULOS: </ion-label>
                          <ion-note slot="end">{{item.nulos}}</ion-note>
                        </ion-item>
  
                      </ion-col>
                      <ion-col size="12">
                          <ion-item>
                            <ion-label>NO MARCADOS: </ion-label>
                            <ion-note slot="end">{{item.noMarcado}}</ion-note>
                          </ion-item>
    
                        </ion-col>

                  </ion-row>
                </ion-grid>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list-header>



  </ion-list>



</ion-content>